In [1]:
### 这个文件就是使用我们在时间因子中生成的新特征来做机械学习

In [2]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
from sklearn.linear_model import LogisticRegression

In [3]:
## import data
df = pd.read_csv('./total_balance.csv')
df.head()

,Unnamed: 0,report_date,total_purchase_amt,total_redeem_amt,day,month,year,week,weekday,purchase_weekday,redeem_weekday
0,0,2014-03-01,362865580.0,211279011.0,1,3,2014,9,5,0.709237,0.669791
1,1,2014-03-02,276202230.0,246199417.0,2,3,2014,9,6,0.712065,0.761712
2,2,2014-03-03,505305862.0,513017360.0,3,3,2014,10,0,1.185411,1.257964
3,3,2014-03-04,524146340.0,250562978.0,4,3,2014,10,1,1.209608,1.172248
4,4,2014-03-05,454295491.0,209072753.0,5,3,2014,10,2,1.163752,1.157944

In [4]:
df.columns

Index(['Unnamed: 0', 'report_date', 'total_purchase_amt', 'total_redeem_amt',
       'day', 'month', 'year', 'week', 'weekday', 'purchase_weekday',
       'redeem_weekday'],
      dtype='object')

In [5]:
### 划分训练集和测试集
train_X = df.iloc[:-30,-7:]
test_X = df.iloc[-30:,-7:]
train_Y_purchase = df.iloc[:-30,2]
train_Y_redeem = df.iloc[:-30,3]

In [6]:
### 我们首先试试LR
clf_LR = LogisticRegression()
clf_LR.fit(train_X,train_Y_purchase)

#进行预测
pre_Y_purchase = clf_LR.predict(test_X)
print(pre_Y_purchase)

[3.30640884e+08 3.30640884e+08 3.30640884e+08 3.94780870e+08
 2.47646474e+08 2.33903717e+08 2.59534870e+08 3.31550471e+08
 3.31550471e+08 2.58493673e+08 2.61506619e+08 2.57702660e+08
 2.15059736e+08 1.49978271e+08 2.98499146e+08 2.98499146e+08
 2.66401973e+08 3.08378692e+08 2.51763517e+08 1.41412027e+08
 1.30195484e+08 3.09574223e+08 3.09574223e+08 3.06945089e+08
 3.02194801e+08 2.45082751e+08 2.67554713e+08 1.99708772e+08
 3.06945089e+08 3.02194801e+08]

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [7]:
clf_LR = LogisticRegression()
clf_LR.fit(train_X,train_Y_redeem)

#进行预测
pre_Y_redeem = clf_LR.predict(test_X)
print(pre_Y_redeem)

[3.22907524e+08 3.22907524e+08 3.22907524e+08 2.21706539e+08
 2.53659514e+08 3.11648757e+08 1.89909225e+08 4.18603336e+08
 4.18603336e+08 3.09754858e+08 3.03975517e+08 2.11939431e+08
 2.19214339e+08 1.39564084e+08 2.59169016e+08 2.59169016e+08
 2.54929877e+08 2.02452782e+08 2.19963356e+08 1.99377531e+08
 1.91080151e+08 3.12413411e+08 3.12413411e+08 2.85478563e+08
 4.68164147e+08 2.97893861e+08 2.73756380e+08 1.96374134e+08
 2.85478563e+08 4.68164147e+08]

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [8]:
data = {'report_date':df.iloc[-30:,1],'pre_purchase':pre_Y_purchase,'pre_redeem':pre_Y_redeem}
data_LR=pd.DataFrame(data)

In [9]:
## 去掉日期类型中的-
data_LR['report_date'] = data_LR['report_date'].apply(lambda x: str(x).replace('-','')[:8])

In [10]:
data_LR.to_csv('result_LR.csv',header = None, index = None)

## emmmm,逻辑回归的score只有:81.9687,我吐血啦

In [11]:
### 我们再来试试xgboost

from xgboost import XGBClassifier

In [12]:

# 拟合XGBoost模型
model = XGBClassifier()
model.fit(train_X,train_Y_purchase)
 
# 对测试集做预测
pre_Y_purchase = model.predict(test_X)
print(pre_Y_purchase)

[1.25336258e+08 1.25336258e+08 1.25336258e+08 1.25336258e+08
 1.25336258e+08 1.25336258e+08 1.25336258e+08 1.25336258e+08
 1.25336258e+08 1.25336258e+08 1.25336258e+08 1.25336258e+08
 1.25336258e+08 1.25336258e+08 1.25336258e+08 1.25336258e+08
 1.25336258e+08 1.25336258e+08 1.25336258e+08 1.25336258e+08
 1.25336258e+08 1.25336258e+08 1.25336258e+08 1.25336258e+08
 1.25336258e+08 1.25336258e+08 1.25336258e+08 1.25336258e+08
 1.25336258e+08 1.25336258e+08]

In [13]:
model.fit(train_X,train_Y_redeem)
 
# 对测试集做预测
pre_Y_redeem = model.predict(test_X)
print(pre_Y_redeem)

[1.16623756e+08 1.16623756e+08 1.16623756e+08 1.16623756e+08
 1.16623756e+08 1.16623756e+08 1.16623756e+08 1.16623756e+08
 1.16623756e+08 1.16623756e+08 1.16623756e+08 1.16623756e+08
 1.16623756e+08 1.16623756e+08 1.16623756e+08 1.16623756e+08
 1.16623756e+08 1.16623756e+08 1.16623756e+08 1.16623756e+08
 1.16623756e+08 1.16623756e+08 1.16623756e+08 1.16623756e+08
 1.16623756e+08 1.16623756e+08 1.16623756e+08 1.16623756e+08
 1.16623756e+08 1.16623756e+08]

In [14]:
data = {'report_date':df.iloc[-30:,1],'pre_purchase':pre_Y_purchase,'pre_redeem':pre_Y_redeem}
data_XGboost=pd.DataFrame(data)
## 去掉日期类型中的-
data_XGboost['report_date'] = data_XGboost['report_date'].apply(lambda x: str(x).replace('-','')[:8])
data_XGboost.to_csv('result_Xgboost.csv',header = None, index = None)

### 这个结果更没谱了,score:5.6167

In [15]:
## 试试lightgbm
from sklearn.ensemble import GradientBoostingClassifier

In [16]:
gbm0 = GradientBoostingClassifier(random_state=2019)
gbm0.fit(train_X,train_Y_purchase)

# 对测试集做预测
pre_Y_purchase = gbm0.predict(test_X)
print(pre_Y_purchase)

[3.30640884e+08 3.30640884e+08 3.30640884e+08 3.30640884e+08
 3.31550471e+08 3.31550471e+08 3.31550471e+08 3.09574223e+08
 3.31550471e+08 3.31550471e+08 3.31550471e+08 3.08378692e+08
 1.41412027e+08 3.08378692e+08 3.09574223e+08 2.66401973e+08
 3.08378692e+08 3.08378692e+08 3.08378692e+08 1.41412027e+08
 2.45082751e+08 3.09574223e+08 3.06945089e+08 3.02194801e+08
 2.45082751e+08 2.45082751e+08 1.99708772e+08 2.45082751e+08
 3.09574223e+08 2.28093046e+08]

In [17]:
gbm0.fit(train_X,train_Y_redeem)

# 对测试集做预测
pre_Y_redeem = gbm0.predict(test_X)
print(pre_Y_redeem)

[3.22907524e+08 3.22907524e+08 3.22907524e+08 3.22907524e+08
 3.12413411e+08 1.63611708e+08 3.12413411e+08 3.12413411e+08
 3.12413411e+08 3.12413411e+08 3.12413411e+08 3.12413411e+08
 3.12413411e+08 3.12413411e+08 3.12413411e+08 3.12413411e+08
 3.12413411e+08 3.12413411e+08 3.12413411e+08 3.12413411e+08
 3.12413411e+08 3.12413411e+08 3.12413411e+08 3.12413411e+08
 3.12413411e+08 4.68164147e+08 1.96374134e+08 1.66610652e+08
 3.45986909e+08 2.85478563e+08]

In [18]:
data = {'report_date':df.iloc[-30:,1],'pre_purchase':pre_Y_purchase,'pre_redeem':pre_Y_redeem}
data_LGBM=pd.DataFrame(data)
## 去掉日期类型中的-
data_LGBM['report_date'] = data_LGBM['report_date'].apply(lambda x: str(x).replace('-','')[:8])
data_LGBM.to_csv('result_LGBM.csv')

### lgbm的结果好一点有82.7447

In [19]:
### 现在我们来做一下加权平均,首先读取arma的结果
df_arma = pd.read_csv('./tsa_base.csv')
df_arma.head()

   Unnamed: 0  report_date      purchase        redeem
0           0     20140901  3.206019e+08  3.687988e+08
1           1     20140902  3.290633e+08  3.188757e+08
2           2     20140903  3.086676e+08  3.407753e+08
3           3     20140904  2.562200e+08  3.291667e+08
4           4     20140905  2.282802e+08  2.572588e+08

In [21]:
## 然后import 时间因子的结果
df_time = pd.read_csv('./timefactor_base.csv')
df_time.head()

   Unnamed: 0  report_date  total_purchase_amt  total_redeem_amt
0           0     20140901        3.819439e+08      2.938111e+08
1           5     20140902        2.981538e+08      2.507790e+08
2          10     20140903        3.360825e+08      3.401504e+08
3          14     20140904        3.492969e+08      2.869627e+08
4          18     20140905        2.958247e+08      2.514977e+08

In [22]:
## 然后import 的结果
df_LGBM = pd.read_csv('./result_LGBM.csv')
df_LGBM.head()

   Unnamed: 0  report_date  pre_purchase   pre_redeem
0         184     20140901   330640884.0  322907524.0
1         185     20140902   330640884.0  322907524.0
2         186     20140903   330640884.0  322907524.0
3         187     20140904   330640884.0  322907524.0
4         188     20140905   331550471.0  312413411.0

In [29]:
df_new = pd.DataFrame()
df_new['report_date'] = df_LGBM['report_date']
df_new['total_purchase_amt']= 0.75*df_time['total_purchase_amt']+0.2*df_arma['purchase']+0.05*df_LGBM['pre_purchase']
df_new['total_redeem_amt']= 0.75*df_time['total_redeem_amt']+0.2*df_arma['redeem']+0.05*df_LGBM['pre_redeem']
df_new

    report_date  total_purchase_amt  total_redeem_amt
0      20140901        3.671104e+08      3.102634e+08
1      20140902        3.059601e+08      2.680048e+08
2      20140903        3.303274e+08      3.394132e+08
3      20140904        3.297487e+08      2.972008e+08
4      20140905        2.841021e+08      2.556957e+08
5      20140906        2.279272e+08      1.884187e+08
6      20140907        2.167500e+08      1.938611e+08
7      20140908        3.295774e+08      3.201288e+08
8      20140909        3.369652e+08      2.845868e+08
9      20140910        3.668108e+08      3.074002e+08
10     20140911        3.066980e+08      3.034623e+08
11     20140912        2.470980e+08      2.567441e+08
12     20140913        1.929215e+08      2.102529e+08
13     20140914        2.112358e+08      2.278303e+08
14     20140915        3.353463e+08      3.034229e+08
15     20140916        3.611861e+08      3.438072e+08
16     20140917        2.932760e+08      3.431503e+08
17     20140918        3.022022e+08      2.843922e+08
18     20140919        2.541654e+08      2.633618e+08
19     20140920        2.183601e+08      1.902100e+08
20     20140921        2.137786e+08      2.225137e+08
21     20140922        2.886208e+08      3.322289e+08
22     20140923        2.851775e+08      3.017125e+08
23     20140924        2.799102e+08      3.437209e+08
24     20140925        2.689824e+08      3.105524e+08
25     20140926        2.297719e+08      3.109030e+08
26     20140927        1.925538e+08      2.281636e+08
27     20140928        2.065501e+08      2.536581e+08
28     20140929        2.903536e+08      3.407891e+08
29     20140930        2.916366e+08      3.283349e+08

In [30]:
df_new.to_csv('./final.csv',header = None, index = None)

### 这个结果也不太理想,只有126.

### 所以我个人觉得还是单纯用时间因子模型会好一些